<div >
  <%= form_tag("/search", method: "get") do %>
  <%= label_tag(:name, "Search for another Twitter user: @",) %>
  <%= text_field_tag(:name, nil, ) %>
  <%= submit_tag("Search") %>
  <% end %>      
</div>

<h1>Sorry! @<%= @name %> doesn't exist. Please search for another Twitter user!</h1>

<%= image_tag "page.jpg" %>