<div >
  <%= form_tag("/search", method: "get") do %>
  <%= label_tag(:name, "Search for another Twitter user: @",) %>
  <%= text_field_tag(:name, nil, ) %>
  <%= submit_tag("Search") %>
  <% end %>      
</div>

<div>
<h1 class="center white-background">Sorry! @<%= @name %> doesn't exist. Please search for another Twitter user!
</h1>
</div>

<div>
<%= image_tag "page.jpg", class: "image" %>
</div>