<div >
  <%= form_tag("/search", method: "get") do %>
  <%= label_tag(:name, "Search for another Twitter user: @",) %>
  <%= text_field_tag(:name, nil, ) %>
  <%= submit_tag("Search") %>
  <% end %>      
</div>

<br>
<br>

<%= link_to @name, "https://twitter.com/#{@name}",target: "blank" %>  joined Twitter on <%= @created_at.strftime("%A %B %d, %Y") %>
<br>
<br>
User id: <%= number_with_delimiter(@user_id, :delimiter => ',') %>
<br>
<br>

<%= @first_tweet %>

Find <%= @name %>'s first tweet<iframe src="https://discover.twitter.com/first-tweet#<%=@name%>">,target: "blank" %></iframe>!


<!-- Find <%= @name %>'s <%= link_to "first tweet", "https://discover.twitter.com/first-tweet##{@name}",target: "blank" %>!
 -->

