<div class = "search-form-div">
  <%= form_tag("/search", method: "get") do %>
  <%= label_tag(:name, "Search for another Twitter user: @", class: "custom-label") %>
  <%= text_field_tag(:name, nil, ) %>
  <%= submit_tag("Search") %>
  <% end %>      
</div>

<br>
<br>
<div class="jumbotron vertical-center">
<div class="container text-center"> 
<h2><%=@full_name%> (@<%= link_to @name, "https://twitter.com/#{@name}",target: "blank" %>)  joined Twitter on <%= @created_at.strftime("%A %B %d, %Y") %></h2>
<br>
<%= image_tag @profile_image %>
<h3>User id: <%= number_with_delimiter(@user_id, :delimiter => ',') %></h3>
<br>

This was <%= @name %>'s <%= link_to "first tweet", "https://discover.twitter.com/first-tweet##{@name}",target: "blank" %>!
<br>
<br>
<b>The NYTimes headlines on <%= @created_at.strftime("%B %d, %Y") %> were:</b>
<br>
<%- @nytimes_headlines.each do |headline_hash| %>
<%= link_to headline_hash[:headline], headline_hash[:url], target: "blank" %>
	<br>
<% end %>
</div>
</div>


<!-- Find <%= @name %>'s <%= link_to "first tweet", "https://discover.twitter.com/first-tweet##{@name}",target: "blank" %>!
 -->

