<!DOCTYPE html>
<html>
<head>
  <title>Twitter Join Date</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <title>Codeon - Agency</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--bootstrap css-->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!--custom css-->
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <!--flex slider css-->
        <link href="css/flexslider.css" rel="stylesheet">
        <!--google web fonts css-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
        <!--ion icons css-->
        <link href="icons/css/ionicons.min.css" rel="stylesheet">
        <!--animated css-->
        <link href="css/animate.css" rel="stylesheet">
        <!--owl carousel css-->
        <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="screen">
        <link href="css/owl.theme.css" rel="stylesheet" type="text/css" media="screen">
</head>
<body>
    
    <section id="home" data-stellar-background-ratio="0.5">       
  <%= yield %>
    </section>

</body>
</html>
  <footer class="footer">
     <div class="by-alicht"><b>Created by <%=link_to "@alicht", "https://twitter.com/alicht",target: "blank" %></b> </div>  
      </footer>